/*========================================================
	Author: Ruby Masciangelo
	theshrekacademy.com
==========================================================
	GENERIC STYLES
==========================================================
    COLOR PALETTE
    DARK GREEN:  #003333
    TURQUOISE:   #99FFCC
    NAV HOV: rgb(16, 243, 167) / #10F3A7
    SHADOWS: 0 0 3px #00ff80, 0 0 5px #003333;
    LIGHTEST TURQUOISE: #bbfce0
========================================================*/
@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

html {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-size: 16px;
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	line-height: 1.42857143;
	color: rgb(1, 19, 3);
	background-color: #99ffcc;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
	text-align: center;
	color: #003333;
}

h1 {
    line-height: 50px;
    font-weight: 900;
    font-size: 30px;
    color: #99FFCC;
    border: 5px solid #003333;
    text-shadow: 0 0 3px #00ff80, 0 0 5px #003333;
    box-shadow: 0 0 3px #00ff80, 0 0 5px #003333;
    background-color: #003333;
}

h3 {
    line-height: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 20px;
}

h4 {
	padding-top: 25px;
	line-height: 20px;
	padding-bottom: 0px;
	font-size: 15px;
	font-weight: 900;
}

p {
	font-weight: 300;
	line-height: 30px;
	padding-top: 15px;
}

.text-center {
	text-align: center;
}

section {
	padding-top: 50px;
	margin-top: 50px;
}

.navbar {
	height: 50px;
	max-height: 50px;
	display: block;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.container-fluid { /*seems excessive*/
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.clearfix:after,
.container:after,
.navbar:after {
	clear: both;
	display: table;
	content: " ";
}

.wrap {
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	text-align: center;
}

.navbar-container {
	max-height: 40px;
    margin: 0% auto;
    margin-top: 0px;
	content: " ";
	width: 100%;
	position: fixed;
	z-index: 100;
	/* background-color: rgba(225,225,225,0.5); */
}

/*========================================================================
                        HOME SECTION STYLES
=======================================================================*/
.firstname,
.lastname {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.9);
    color: #003333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    position: relative;
    transform: translate(-50%,-50%);
    display: block;
}


    .firstname {
        font-size: 70px;
        padding-top: 40%;
        padding-left: 45%;
        padding-bottom: 0px;
        display: block;
        height: 5px;

    }
    .lastname {
        font-size: 50px;
        padding-top: 0px;
        padding-left: 56%;
        padding-bottom: 0px;
        display: block;
        height: 5px;
    }

    #home {
        background: url(../image/ruby.jpg) no-repeat;
        height: 100vh;
        width: calc(100vw-100px);
        background-size: cover;
        background-position: top right;
    }

/*========================================================================
                                PROJECTS
=======================================================================*/

#projects {
    padding-top: 0px;
    background-color: #bbfce0;
}



div.description {
    padding: 15px;
    text-align: center;
}


.library, .spiders, .github, .linkdin {
    width: 50%;
}

.mail {
    width: 75%;
}

.library, .spiders, .github, .linkdin, .mail {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vroom {
    width: 100%
}



* {
    box-sizing: border-box;
}

.responsive { /*seems excessive*/
    width: 100%;
    padding-top: 10%;
}

/*========================================================================
                                ABOUT ME
=======================================================================*/


#aboutme {
    background-color: whitesmoke;
}

/*========================================================================
                                TABLET 500px - 699px
=======================================================================*/


/*========================================================================
                                DESKTOP 700px+
=======================================================================*/

@media screen and (min-width: 700px) {
    .firstname,
    .lastname {
        font-size: 100px;
        font-weight: 900;
        display: block;
        padding-left: 10%;
        width: 5px;
        height: 10px;
        color: #99ffcc;
    }

    .firstname {
        padding-top: 0%;
    }

    .lastname {
        padding-top: 13%;
    }

    #home {
        background: url(../image/ruby.jpg) no-repeat 50% 100%;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        display: block;
        height: auto;
        padding-top: 350px; /* space before main title logo */
        padding-bottom: 500px; /* space after */
    }


    #aboutme {
        padding-bottom: 220px;
    }

    #contact {
        padding-top: 0px; /* space before main title logo */
        padding-bottom: 110px; /* space after */
    }


    /*========================================================================
                                PROJECTS AND CONTACT GALLERIES DESKTOP

    EQUATION FOR RESPONSIVE WIDTH:
    100 - 0.3 (for the 3 images) -> 99.7 / 3 = 33.23333
    =======================================================================*/
    .responsive {
        padding: 10% 6px 0;
        float: left;
        width: 33.23333%;
    }

}


/*========================================================================
                                 NAVBAR
=======================================================================*/

.navbar {
    overflow: hidden;
    background-color: #003333; 
}

.navbar a {
    float: left;
    color: #99ffcc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

    .navbar a:hover {
        background-color: rgb(16, 243, 167);
        color: #003333;
    } 